<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vehicles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vehicles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let vehicle of values">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{vehicle.name}}</ion-label>
    </ion-item>
  </ion-list>
<!-- 
  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
